stepfunc.json
{
  "Comment": "Launch Spot Instance",
  "StartAt": "RequestSpotInstance",
  "States": {
    "RequestSpotInstance": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:xxxxxxxxxxxx:function:RequestSpotInstance",
      "Next": "waitBidding"
    },
    "waitBidding": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "GetBiddingResult"
    },
    "GetBiddingResult": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:xxxxxxxxxxxx:function:GetBiddingResult",
      "Next": "CheckResult"
    },
    "CheckResult": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.LaunchedInstance",
        "StringEquals": "0",
        "End": true
      }],
      "Default": "LaunchTagAndEIP"
    },
    "LaunchTagAndEIP": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:xxxxxxxxxxxx:function:LaunchTagAndEIP",
      "End": true
    }
  }
}